.am-top-header .navbar-header .navbar-brand {
	
	background-image: url("/img/logo/logo60x40.png");
}

.am-nosidebar-left .am-top-header .navbar-header .navbar-brand {

    background-image: url("/img/logo/logo-full-white.png");

}

/*.row {
    margin-left: -20px;
    margin-right: -25px;
}*/

.main-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

#page-loader {
	
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f7f7f7;
    z-index: 9999;
}
#page-loader.fade {
    display: none;
}
#page-loader.fade.in {
    display: block;
}

#process-loader {
 background-color: white;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(245, 244, 242, 0.6);

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  
    z-index: 9999;
}
#process-loader.fade {
    display: none;
}
#process-loader.fade.in {
    display: block;
}

.modal-content{
	min-width: 0 !important;
}



@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
.spinner, 
.spinner-small {
    height: 40px;
    width: 40px;
    margin: 0px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    border: 2px solid #fff;
    border-top: 2px solid #24B498;
    border-radius: 100%;
}
.fade.in .spinner, 
.fade.in .spinner-small {
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
}
.spinner-small {
    border: 2px solid rgba(0,0,0,0.05);
    border-top: 2px solid #24B498;
    height: 30px;
    width: 30px;
    margin: -15px 0 0 -15px;
}

/* 16.1 Material Loader */

.material-loader {
    position: fixed;
    width: 200px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -100px;
}
.material-loader .message {
    line-height: 200px;
    text-align: center;
    color:#000;
    font-size: larger;
}
.ie8 .material-loader .message {
    padding-left: none;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 56px;
    left: 50%;
    margin-left: -34px;
    margin-top: -55px;
    position: absolute;
    top: 50%;
    width: 56px;
}
.material-loader .path {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes dash{
    0%{
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100%{
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}
@keyframes color{
    100%, 0%{
        stroke: #000;
    }
}

.btn-google{
	
	padding-bottom: 0px;
	padding-top: 2px;
}
#error-box{
	color:red;
}

.m-l-18{
	
	margin-left: 12px;
}

.m-l-11{
	
	margin-left: 11px;
}

.m-b-5{
	margin-bottom:15px;
}

.am-sticky-footer footer {

    padding: 15px 35px;
}

.tbl-pointer{
	
	cursor: pointer;
}

.issue-timeline::before {
    background: #dbdbdb none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 35px;
    margin-left: -1px;
    position: absolute;
    top: 40px;
    width: 2px;
    z-index: -1;
   
}

.issue-timeline{
	margin-top: 25px;
	margin-bottom: 5px;
}

.issue-timeline .user a img {
    border-radius: 50%;
   
    height: 40px;
    width: 40px;
    margin-right: 3px;
    
}

.issue-comment-btn{
	
	background-color: #f0f0f0;
	
}

.panel{
	

    margin-bottom: 10px;

}

.panel-issue {
    
    margin-bottom: 0px;
}

.panel-issue-comment{
    margin-bottom: 0px;
	margin-top: 25px;
	
}

.assign-td a img {
    border-radius: 50%;
   
    height: 30px;
    width: 30px;
    margin-right: 3px;
    
}

.edit-issue-option{
	
	color:#000;
}

.edit-issue-option:hover{
	
	color:blue;
}

.page-head {
   
    padding: 20px 15px;
    border-bottom: 1px solid #ccc;
 
}

.btn-head{
	font-size:16px;
	margin-top: -8px;
}


.material-icons.btn-head-s{
	font-size: 16px;
}
.am-sticky-footer footer{
	z-index: 111;
}

th.hours, .invoice-details td.hours{
	text-align: center;
}

.paid{
	
	background:#fff url(/img/stamps/paid.png) no-repeat top left !important; 
	
}

.draft{
	/*background: #fff !important;*/
	background:#fff url(/img/stamps/draft.png) no-repeat top left !important; 
	
}

.chargeoff	{
	
	background:#fff url(/img/stamps/chargeoff.png) no-repeat top left !important; 
	
}


.pastdue{
	
	background:#fff  url(/img/stamps/pd.png) no-repeat top left !important; 
	
}

.sent{
	
	background:#fff  url(/img/stamps/pending.png) no-repeat top left !important; 
	
}

.partial{
	
	background:#fff url(/img/stamps/partial.png) no-repeat top left !important; 
	
}

.accept{
	
	background:#fff url(/img/stamps/accepted.png) no-repeat top left !important ; 
	
}

.decline{
	
	background:#fff url(/img/stamps/declined.png) no-repeat top left !important; 
	
}

.invoiced{
	
	background:#fff url(/img/stamps/invoiced.png) no-repeat top left !important; 
	
}

.history-box{
	
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #eee;
}

.am-white-header .am-top-header{
	
	border-bottom: 1px solid #b9b9b9;
}

.table{

 margin-bottom: 0;
	
}

.right-rounded{
	
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	
}

.table > tbody > tr:first-child > td{
	border-top: 1px solid #fff;
}	

.srch-left-addon{
	
	background-color:#b8b8b8; 
	color:#fff; 
	font-size: 20px;
}

.daterange-right-addon{
	border: 1px solid #4e91ff;
	background-color:#4e91ff; 
	color:#fff; 
	cursor: pointer;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.g-l{
	
	cursor: pointer;
	
}

.box-go:hover{
	
	border-color: blue;
	
}

.b-r-r-0{
	
	border-bottom-right-radius: 0; 
	border-top-right-radius: 0;
}

.b-l-r-0{
	
	border-bottom-left-radius: 0; 
	border-top-left-radius: 0;
}

.b-t-r-0{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.b-b-l-r-0{
	
	border-bottom-left-radius: 0; 
	
}



