.td-l-n-b{
	
	border-left:none !important;
}

.td-r-n-b{
	
	border-right:none !important;

}
.td-t-n-b{
	
	border-top:none !important;
}

.td-b:focus{
	
	border-color: #eaeaea;
}

.td-a-t{
	vertical-align: top;
}

.i-txt-r{
	
	text-align: right;
}

.p-r-2{
	
	padding-right: 2px;
}

.p-l-0{
	padding-left: 0;
}

