.am-splash-screen {
    background-color: #fff;
}

.am-splash-screen .am-wrapper .am-content a {
    color: #4e91ff;
}

.am-splash-screen .am-wrapper .am-content a:hover {
    color: #114bad;
}

.sign-up .panel-body .form-horizontal .conditions a {
    color: #4e91ff;
}

.sign-up .panel-body .form-horizontal .conditions a:hover {
    color: #114bad;
}

.login-container .panel-default .panel-body .form-group .input-group .input-group-addon .icon {
    font-size: 20px;
    color: #000;
}

.error{
	color:red;
}

.login-container .panel-default .panel-body .form-group .input-group .form-control {

    font-size: 20px;
    font-weight: 300;
    color:#000;
 
}

.login-container .panel-default .panel-body .form-group .input-group {
    border-bottom: 2px solid #ccc;
    padding: 10px 0;
}

.sign-up .panel-body .form-horizontal .sign-up-form {
    margin-bottom: 15px;
}