
.fw-grid-gallery .fw-block-3 {

  float: left;
  backface-visibility: hidden;
}
.fw-grid-gallery .fw-block-3 a {
  position: relative;
  
  text-align: center;
  /*background-color: #2f8cea;*/
}
.fw-grid-gallery .fw-block-3 a img {
  transition: .3s;
}
.fw-grid-gallery .fw-block-3 a span {
  font-size: 62px;
  text-transform: uppercase;
  color: #000;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -40px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s;
  font-weight: 700;
}
.fw-grid-gallery .fw-block-3 a:hover img {
  opacity: .2;
}
.fw-grid-gallery .fw-block-3 a:hover span {
  opacity: 1;
}
@media only screen and (max-width: 1200px) {
  .fw-grid-gallery .fw-block-3 {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .fw-grid-gallery .fw-block-3 {
    width: 100%;
  }
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {

  font-size: 8px;

}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
 
  font-size: 8px;

}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {

  font-size: 14px;
  
}

