<select class="form-control" name="issue_milestone_id">
	<option value="0">No Milestone</option>
	{%for m in milestones%}
		<option value="{{m.prjm_id}}">{{m.prjm_name}}</option>
	{%endfor%}
	
</select>    
