<div class="user">
  <a href="#"  style="padding: 3px 0 0 0 !important; cursor: default;">
    <img id="chat-head-user-image" src="/img/floctoid.jpg">
	<div class="user-data">
	  
      <span class="name" style="color:#000;">Floctoid</span>
      <span class="message " style="color: green;">Online</span>
    </div>
  </a>
</div>
