{% extends skin~"/common/root.tpl" %}

{%block content%}
        <div class="page-head">
          <h2>Dashboard</h2>

        </div>
        <div class="main-content">
          
          
        </div>
{%endblock%}