<footer class="hidden-xs">
    <div class="am-checkbox m-l-18 m-b-5 pull-left" style="margin-top:-2px; padding: 0; margin-right: 5px;">
      <input type="checkbox" id="checkall">
      <label for="checkall"></label>
    </div>
	<span >            		
	<a href="#" id="bundleDelete" class="text-danger hidden-xs" style="margin-right: 5px;" >{{lng_common.btn_del}}</a></span>
</footer>


