<div class="item">			
<div class="photo">
<div class="img">
    <img src="http://secure.floctopus.com/userfiles/1/pic/pic_diamond_PNG6694_8.png">
          <div class="over">
              <div class="func">
              <a href="#" class="image-zoom"><i class="icon s7-trash"></i></a>
              <a href="#" class="image-zoom"><i class="icon s7-edit"></i></a>
              </div>
           </div>
</div>
<div class="description">
  
  <div class="desc">
    <span>fileashjdgjhas jashdgjashdg jashgdjas djasgd jasdhg </span>
  </div>
</div>
</div>
</div>