<p>Hello,</p>
<br>
<p>{{uname}} has shared document  with you. </p><br>

<br>
Link: <a href="{{host}}/doc/edit/{{id}}">{{host}}/doc/edit/{{id}}</a>
<br><br>

---<br>
You are receiving this because you are registered in http://floctopus.com.<br>
DO NOT reply to this email directly, view it on <a href="{{host}}/doc/edit/{{id}}">Floctopus.com/doc/edit/{{id}}</a>





 