<p>{{acs.user_username}} invites you to collaborate.<p>
<p>Please ACCEPT invintation</p>
<a href="{{link}}">{{link}}</a>


Regards,
<a href="http://floctopus.com">floctopus.com</a><br>

<p>This email has been sent automatically.  Please do not respond to it.</p>