<p>Присоединяйтесь ко мне в новом потрясающем онлайн-сервисе для фрилансеров- <a href="http://floctopus.com">Floctopus.com</a>. Это место, где каждый может сотрудничать в проектах, координировать задачи и графики, управлять его бизнесом фрилансера. Он прост в использовании.<p>

<a href="{{link}}">{{link}}</a>

<p>Чтобы авторизовать, введите свой адрес электронной почты в качестве имени входа. При первом входе в систему вам будет предложено создать свой пароль, который будет известен только вам.</p>

С Уважением,
{{acs.user_name}}

<p>Это письмо отправлено автоматически. Пожалуйста, не отвечайте на него.</p>