<ul class="nav nav-tabs">
	  <li class="{{topAccepted}}"><a href="/users"  >{{lng_users.accepted}}</a></li>
	  <li class="{{topRquest}}"><a href="/users/invites"  >{{lng_users.invites}} {%if invitecount%}<span class="badge badge-warning">{{invitecount}}</span>{%endif%}</a></li>
	  

</ul>
