  <table class="table">
      <tr >
	      <td >{{u.user_name}}</td>
          <td id="invite_username">{{u.user_username}}</td>
          <td id="invite_email">{{u.user_email}}</td>
          <td width="1%">
	          <a href="#" class="add-user text-success" data-id="{{u.user_id}}">
	          <i class="material-icons">add_circle_outline</i>
	          </a>
	      </td>
      </tr>
  </table>    
