<address>
<strong>{{acs.set_billing_name}}</strong><br>
{{acs.set_billing_street}} {{acs.set_billing_city}}{%if acs.set_billing_state or acs.set_billing_zip%},{{acs.set_billing_state}} {{acs.set_billing_zip}}{%endif%}<br>
{{country}}

</address>