.aside-chat .chat-category {
  margin: 30px 20px 15px;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededed;
  padding-left: 5px;
}
.aside-chat h2 {
  margin: 30px 20px 15px;
}
.aside-chat .recent,
.aside-chat .contact,
.aside-chat .chat-contact-list {
  margin-bottom: 30px;
  font-size: 13px;
}
.aside-chat .recent .user a,
.aside-chat .contact .user a,
.head-chat-w .user a,
.aside-chat .chat-contact-list .user a {
  display: block;
  padding: 14px 15px;
  overflow: hidden;
}


.aside-chat .recent .user a img,
.aside-chat .contact .user a img,
.head-chat-w .user a img,
.aside-chat .chat-contact-list .user a img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  float: left;
}

.aside-chat .user.active{
	
	background: #f7f7f7;
}

.aside-chat .recent .user a .user-data,
.aside-chat .contact .user a .user-data,
.aside-chat .chat-contact-list .user a .user-data,
.aside-chat .recent .user a .user-data2,
.aside-chat .contact .user a .user-data2,
.head-chat-w .user a .user-data,
.head-chat-w .user a .user-data2,
.aside-chat .chat-contact-list .user a .user-data2 {
  padding-left: 43px;
  line-height: 19px;
}



.aside-chat .recent .user a .user-data .status,
.aside-chat .contact .user a .user-data .status,
.aside-chat .chat-contact-list .user a .user-data .status,
.aside-chat .recent .user a .user-data2 .status,
.aside-chat .contact .user a .user-data2 .status,
.head-chat-w .user a .user-data2 .status,
.aside-chat .chat-contact-list .user a .user-data2 .status {
 

  float: right;

  position: relative;
  top: 5px;
}
.aside-chat .recent .user a .user-data .status.offline,
.aside-chat .contact .user a .user-data .status.offline,
.aside-chat .chat-contact-list .user a .user-data .status.offline,
.aside-chat .recent .user a .user-data2 .status.offline,
.aside-chat .contact .user a .user-data2 .status.offline,
.head-chat-w .user .user a .user-data2 .status.offline, 
.head-chat-w .user a  .user-data .status.offline,
.head-chat-w .user a  .user-data2 .status.offline,
.aside-chat .chat-contact-list .user a .user-data2 .status.offline {
  background-color: #e65a5a;
}
.aside-chat .recent .user a .user-data .status.away,
.aside-chat .contact .user a .user-data .status.away,
.aside-chat .chat-contact-list .user a .user-data .status.away,
.aside-chat .recent .user a .user-data2 .status.away,
.aside-chat .contact .user a .user-data2 .status.away,
.head-chat-w .user a .user-data2 .status.away,
.head-chat-w .user a .user-data2 .status.away,
.aside-chat .chat-contact-list .user a .user-data2 .status.away {
  background-color: #f2c329;
}
.aside-chat .recent .user a .user-data .name,
.aside-chat .contact .user a .user-data .name,
.aside-chat .chat-contact-list .user a .user-data .name,
.aside-chat .recent .user a .user-data2 .name,
.aside-chat .contact .user a .user-data2 .name,
.head-chat-w .user a .user-data2 .name,
.head-chat-w .user a .user-data .name,

.aside-chat .chat-contact-list .user a .user-data2 .name {
  color: #555555;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.head-chat-w .user a .user-data2 .name,
.head-chat-w .user a .user-data .name {
  color: #e1e1e1;
}
.head-chat-w .user a .user-data .message,
.aside-chat .user a .user-data .message,
.head-chat-w .user a .user-data2 .message{
  display: block;
  color: #999999;
  font-size: 11px;
}

.head-chat-w .user a .user-data2,
.aside-chat .chat-contact-list .user a .user-data2 {
  margin-top: 7px;
}
.aside-chat .recent .user a:hover,
.aside-chat .contact .user a:hover,

.aside-chat .chat-contact-list .user a:hover {
  background-color: #f7f7f7;
}
.aside-chat .chat-contacts,
.aside-chat .chat-window {
  width: 100%;
}

.aside-chat .chat-contacts .search {
  position: relative;
}
.am-right-sidebar .aside-chat .chat-window {
  height: 100%;
  left: 255px;
  display: table;
  table-layout: fixed;
}
.aside-chat .chat-window .title {
  padding: 20px 10px;
  padding-right: 20px;
  overflow: hidden;
}
.aside-chat .chat-window .title .icon {
  font-size: 35px;
  color: #b3b3b3;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.aside-chat .chat-window .title .user-name {
  font-size: 19px;
  line-height: 23px;
}
.aside-chat .chat-window .title .user {
  display: inline-block;
  float: right;
  text-align: right;
  line-height: 13px;
}
.aside-chat .chat-window .title .user img {
  height: 35px;
  width: 35x;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
}
.aside-chat .chat-window .title .user h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
}
.aside-chat .chat-window .title .user span {
  display: block;
  font-size: 12px;
  color: #999999;
}


.aside-chat .chat-window .chat-messages {
  font-size: 13px;
  /* height: 274px;*/
  width: 100%;
}

.chat-main-box .chat-messages {
  height: 100%;
  
}
.chat-main-box .chat-messages .content {
  outline: none;
}
.chat-main-box .chat-messages ul {
  outline: none;
  margin: 0;
  padding: 0;
  min-width: 100%;
}
.chat-main-box .chat-messages ul > li {
  display: block;
  list-style: none;
  padding: 9px 16px;
  width: 100%;
}
.chat-main-box .chat-messages ul > li .msg {
  position: relative;
  display: inline-block;
  background-color: #f06c6c;
  color: #ffffff;
  font-size: 12px;
  padding: 7px 8px;
  border-radius: 3px;
  white-space: normal;
  text-align: left;
  margin-left: 40px;
}
.chat-main-box .chat-messages ul > li .msg:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 7px;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #f06c6c;
  border-top: 6px solid transparent;
}
.chat-main-box.chat-messages ul > li.friend .msg {
  background-color: #fefefe;
  color: #424141;
  margin-left: 0;
  margin-right: 40px;
}
.chat-main-box .chat-messages ul > li.friend .msg:after {
  right: auto;
  left: -5px;
  border-left-width: 0;
  border-right: 5px solid #fefefe;
}
.chat-main-box .chat-messages ul > li.self {
  text-align: right;
  
}

.chat-main-box .chat-messages {
  font-size: 13px;
  height: 274px;
}

.chat-main-box .chat-messages .content {
  outline: none;
}
.chat-main-box .chat-messages ul {
  outline: none;
  margin: 0;
  padding: 0;
}
.chat-main-box .chat-messages ul > li {
  display: block;
  list-style: none;
  padding: 9px 16px;
}
.chat-main-box .chat-messages ul > li .msg {
  position: relative;
  display: inline-block;
  background-color: #c1e0ff;
  color: #000;
  font-size: 12px;
  padding: 7px 8px;
  border-radius: 3px;
  white-space: normal;
  text-align: left;
  margin-left: 40px;
}
.chat-main-box .chat-messages ul > li .msg:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 7px;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #c1e0ff;
  border-top: 6px solid transparent;
}
.chat-main-box .chat-messages ul > li.friend .msg {
  background-color: #fefefe;
  color: #424141;
  margin-left: 0;
  margin-right: 40px;
}
.chat-main-box .chat-messages ul > li.friend .msg:after {
  right: auto;
  left: -5px;
  border-left-width: 0;
  border-right: 5px solid #fefefe;
}
.chat-main-box .chat-messages ul > li.self {
  text-align: right;
}

		.aside-chat {
			position: absolute;
		    background: #ffffff none repeat scroll 0 0;
		    border-right: 1px solid #e6e6e6;
		    height: 100%;
		    left:0;
			overflow-y: scroll;
		    top: 65;
		    width: 25%;
		}
		
		.head-chat-w {
			height:65px;
			margin-left: 25%;
			background: #fff;
			padding: 10px 10px;
			 border-bottom: 1px solid #e6e6e6;
		
		}
		
		.aside-chat-toolbar{
			position: absolute;
		    background: #ffffff none repeat scroll 0 0;
		    border-right: 1px solid #e6e6e6;
		    border-bottom: 1px solid #e6e6e6;
		    height: 65px;
		    left:0;
			overflow: hidden;
		    top:0;
		    width: 25%;
		    padding-top: 12px;
		    padding-right: 10px;
		}

		.chat-profile-btn{
			border: none !important; 
			padding-top: 0;
			}		
		.chat-profile-btn:hover{
			background: none !important;
			}		

		.chat-profile-btn .angle-down {
		    font-size: 27px;
		    vertical-align: middle;
		}

		button.btn-chat-serach {
		    background: transparent none repeat scroll 0 0;
		    border: 0 none;
		    cursor: pointer;
		    padding: 0;
		}		
		.btn-chat-serach {
		    color: #000;
		    float: right;
		    font-size: 30px;
		    font-weight: 500;
			
		    opacity: 0.6;
		}
		
		.chat-main-box{
			
			position: absolute;
		    background: #ccc none repeat scroll 0 0;
	
		    height: 80%;
		    left:25%;
			overflow-y:scroll;
		    top: 65;
		    width: 75%;
		}

		.chat-input-box{
			background: #fff none repeat scroll 0 0;
		    bottom: 0;
		    height: 11%;
		    left: 25%;
		    position: absolute;
		    width: 75%;	
			border-top: 1px solid #999;
		    padding-bottom: 2px;	
		    vertical-align: middle;	
		}

		.ch-in-wrapper{
			 min-height: 100%;
			 height: 100%;
			 display: table;
		}
			
		.chat-input-box .ch-in{
			resize: none !important;
			border: none !important;

		
		}


